header{
    background-color: blue;
    height: 10%;
    color: white;
    font-family: sans-serif, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    padding-left: 5px;
    display: flex;
    align-items: center;
}