<!--
<div class="todo-container">
  <h1>Todo List</h1>
  <input [(ngModel)]="newTodo" placeholder="Add a new todo" (keyup.enter)="addTodo()" />
  <button (click)="addTodo()">Add</button>

  <ul>
    <li *ngFor="let todo of todos; let i = index">
      <span [class.completed]="todo.completed">{{ todo.title }}</span>
      <button (click)="toggleTodoCompletion(i)">
        {{ todo.completed ? 'Undo' : 'Complete' }}
      </button>
      <button (click)="removeTodo(i)">Remove</button>
    </li>
  </ul>
</div>
-->

<div class="container">

  <h1>Todo List</h1>
  <input [(ngModel)]="newTodo" type="text" class="form-control" placeholder="Add a new todo" (keyup.enter)="addTodo()">
  <button (click)="addTodo()" type="button" class="btn btn-primary">ADD</button>

</div>

<div class="container todo-list">

  <ul>
    <li *ngFor="let todo of todos; let i = index">
      <span [class.completed]="todo.completed">{{ todo.title }}</span>
      <button class="btn btn-primary" (click)="toggleTodoCompletion(i)">
        {{ todo.completed ? 'Undo' : 'Complete' }}
      </button>
      <button class="btn btn btn-danger" (click)="removeTodo(i)">Remove</button>
    </li>
  </ul>


</div>

