<div class="task-container">
    <div class="title-date-container">
        <h1>Tasks Title</h1>
        <p class="task-date">24/10/2014</p>
    </div>

    <div class="description">    
        <p class="task-description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
            odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        </p>
    </div>

    <div class="container-button">
        <button class="complete-button">Complete</button>
        <button class="delete-button">Delete</button>
        <button class="update-button" (click)="openModal()" >Update</button>
    </div>
</div>

<app-task-modal
  [isModalOpen]="isModalOpen"
  [isEditMode]="isEditMode"
  [task]="selectedTask"
  (close)="closeModal()"
  (submit)="handleSubmit($event)"
></app-task-modal>