.register-container{
    width: 400px;
    height: 300px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: sans-serif;
}

form{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input, button{
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
}

input{
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    outline: none;
}

button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 768px) {
    /* Estilos para telas pequenas */
    .register-container {
        max-width: 350px;
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1023px) {
    /* Estilos para tablets */
    .register-container {
        max-width: 400px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    /* Estilos para desktops */
    .register-container {
        max-width: 400px;
    }
}